.navbar_p {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
.content_num {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 72px;
  }
.content_title {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 48px;
}
.content_span {
  font-family: 'Noto Sans SC';
  font-weight: 300;
  font-size: 14px;
}
.roomOrder_h2,
.modal_content_title {
  font-family: 'Roboto';
  font-weight: 400;
}
.roomOrder a, 
.navbar_span,
.article_a,
.aside_form_btn,
.modalBody-font,
.modal_title {
  font-family: 'Noto Sans TC';
  font-weight: 400;
}
.copyright,
.article_p {
  font-family: 'Roboto';
  font-weight: 300;
}
.article_h2 {
  font-family: 'Abhaya Libre';
  font-weight: 400;
  font-size: 48px;
}
.article_time,
.article_news,
.article_facilities {
  font-family: 'Noto Sans TC';
}
.article_time_h3,
.article_news_h3,
.article_facilities {
  font-weight: 500;
}
.aside_seasonPrice_span,
.aside_form {
  font-family: 'Noto Sans TC';
  font-weight: 300;
}
.aside_seasonPrice_p {
  font-family: 'Noto Sans';
  font-weight: 500;
}